[submodule "extlib/vectorclass"]
	path = extlib/vectorclass
	url = https://github.com/vectorclass/version2.git
[submodule "extlib/gcem"]
	path = extlib/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx.git
[submodule "extlib/util"]
	path = extlib/util
	url = https://github.com/ByteHamster/Util.git
[submodule "extlib/sux"]
	path = extlib/sux
	url = https://github.com/ByteHamster-etc/sux.git
[submodule "extlib/cmake-findsse"]
	path = extlib/cmake-findsse
	url = https://github.com/hideo55/CMake-FindSSE.git
[submodule "extlib/ips2ra"]
	path = extlib/ips2ra
	url = https://github.com/ips4o/ips2ra.git
